*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
button,a{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--clr-text-primary);
}
li{
    list-style-type: none;
}
p{
    line-height: 5rem;
}

body{
    font-family:  var(--font-family);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
}
#header{
    background:url("./imgs/bg.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: bottom 100% left 10%;
    background-color: rgb(136, 132, 132);
    max-height: 90px;
}
#navbar{
    height: 5rem;
    width: 100%;
    align-items: center;
    position: relative;
}
#nav-items{
    margin-left: auto;
    gap: 8rem;
    margin-right: 5rem;
}
#header,#main,#footer{
    padding: 0 9rem;
}

#navbar,#page,#nav-items{
    display: flex;
}

.nav-item{
    text-transform: capitalize;
    font-weight: 450;
    font-size: 1.3rem;
    transition: color .3s ease;
}
.nav-item:hover a{
    opacity: .8;
}
#page{
    align-items: center;
    gap: .3rem;
}
#logo{
    font-size: 2.5rem;
}
#page-name{
    font-weight: 900;
    text-transform: uppercases;
    font-size: 1.4rem;
}


iframe{
    height: 200px;
    width:400px;
    justify-content: center;
    align-items: center;
    opacity:0.3;
    border-radius: 50px;
}
iframe:hover{
    opacity: 1;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    padding: 2.4rem 0;
    background:grey;
    
}

#social-links{
    display: flex;
    gap: 2rem;
}
.social-link{
    font-size: 2rem;
}
form{
    display: flex;
    border: 2px solid var(--clr-text-primary);
}

#email,#email+button{
    height: 2.5rem;
    border: none;
    font-family: var(--font-family);
}
#email{
    width: 18.5rem;
    padding-left: 1rem;
}
#email+button{
    width: 2.5rem;
    font-weight: bold;
    background: var(--clr-text-primary);
    color: #fff;
    transition: color .5s ease;
    transition: background-color .5s ease;
}
#email+button:hover{
    background: transparent;
    color: var(--clr-text-primary);
}
.desc{
    letter-spacing: 5px;
}

.profile>img{
    width: 500px;
    height: 395px;
}

#prof{
    display: flex;
    gap :5rem
}
.profile2>p{
    letter-spacing: 10px;
    font-weight: 900;
    max-width: 800px;
    font-size: xx-large;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px rgb(112, 16, 16), 0 0 25px rgb(197, 140, 119), 0 0 5px yellow;
    
    
}
.profile,.profile2{
    flex-direction: row;
    row-gap: 5rem;
    justify-content: space-between;
    
}